@import "tailwindcss";
html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.todo-scroll {
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.todo-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-style {
  max-height: 50vh;
  overflow-y: auto;
}

.custom-scrollbar-style::-webkit-scrollbar {
  width: 1rem;
}

.custom-scrollbar-style::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar-style::-webkit-scrollbar-thumb {
  background-color: rgba(26, 4, 155, 0.3);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar-style::-webkit-scrollbar-thumb:hover {
  background-color: #3730a3;
}
