@import "tailwindcss";

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    scrollbar-width: none;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    /* .custom-scrollbar-hide {
        scrollbar-width: none;
    } */
    .custom-scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .custom-scrollbar-style::-webkit-scrollbar {
        width:1rem; 
    }

    .custom-scrollbar-style::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .custom-scrollbar-style::-webkit-scrollbar-thumb {
        background-color: rgba(26, 4, 155, 0.3); 
        border-radius: 1rem;
        border: 2px solid #f1f1f1;
    }

    .custom-scrollbar-style::-webkit-scrollbar-thumb:hover {
        background-color: #3730a3;
    }
}